nav {
    background-color: #D9EAF7;
    color: #D9EAF7;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
}

h1 {
    padding: 50px;
    font-size: 50px;
    margin: -50px;
}
nav .ant-space {
    float: right;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.header-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    
}

nav .ant-btn {
    margin-left: 10px;
    background-color: #1C3B5A;
}

@media (max-width: 600px){
    .header-title {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-title h1 {
        font-size: 9vw;
        padding: 0px;
        margin: 0px;
        margin-top: -75px;
    }
    nav {
        display: flex;
        justify-content: center;
    }
}