nav {
    background-color: #D9EAF7;
    color: #D9EAF7;
    font-size: 20px;
    min-height: 70px;
}

nav ul {
    display: flex;
    gap: 20px;
}

h1 {
    padding: 50px;
    font-size: 50px;
    margin: -50px;
}
nav .ant-space {
    float: right;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.header-title {
    float: left;
    
}

nav .ant-btn {
    margin-left: 10px;
    background-color: #1C3B5A;
    color: white;
}

.space-travel img {
    display: flex;
    align-items: center;
    max-width: 470px;
    max-height: 470px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 300px;
    background-color: #1C3B5A;
    margin-top: 40px;
}

.spaceandtestimonials {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 50px;
    margin-right: 300px;
    text-decoration: none;
}

.testimonialright {

    background: #1C3B5A;
    border-radius: 10px;
    max-width: 40%;
    font-style: italic;
    line-height: 2.5;
    text-align: left;
    padding: 20px;
    margin: 20px;
    font-size: 10;
    margin-top: 40px;
}
.testimonialright p {
    text-align: center;
    font-size: 20px;
}

