nav {
    background-color: #D9EAF7;
    color: #D9EAF7;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
}

h1 {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px;
    font-size: 40px;
    margin: 0;
}