.dashboard {
    line-height: normal;
    padding: 2rem;
    color: #333;
    display: flex;
    flex-direction: row; /* Align items in a row */
    justify-content: space-between; /* Space out the APOD and additional containers */
    gap: 2rem; /* Add gap between the APOD and right pane */
}

.apod-container {
    flex: 3; /* Take up more space for the APOD container */
    max-width: 1200px;
    margin-right: 5rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f0f8ff;
}

.apod-container h1 {
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.apod-container p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.apod-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.right-pane {
    flex: 1; /* Smaller space for the traffic and weather containers */
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Space between the containers */
    margin: 20px;
}

.dashboard-traffic,
.dashboard-weather {
    text-align: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    margin-bottom: 1.5rem; /* Space between containers */
    max-width: 500px; /* Set a max width to make them smaller */
    height: auto; /* Allow height to adjust based on content */
    margin-left: 5rem; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

.dashboard-traffic img,
.dashboard-weather img {
    max-width: 100%; /* Ensure images don't overflow */
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.dashboard-traffic h3,
.dashboard-weather h3 {
    margin-bottom: 0.5rem;
}
